parameters:
  level: 9
  paths:
    - src
    - tests
  excludePaths:
    - tests/fixtures
  reportUnmatchedIgnoredErrors: false
  ignoreErrors: []
  tmpDir: tmp/phpstan
  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: true
  checkIncompatibleDefaultParameterType: true
  checkMissingCallableSignature: true
  checkUnusedParameters: false
  checkUnusedPushes: true
  checkUnusedVariables: true
  treatPhpDocTypesAsCertain: true
  strictRules:
    bleedingEdge: true
includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
